@import "./normalize-8.0.1.css.scss";
@import "./variable.scss";
/* Search Box
  ==============================================
  ==============================================
  */
.c-search-box {
  background-color: red;
  ion-searchbar {
    &.ion-padding {
      --padding-start: 0;
      --padding-end: 0;
    }
  }
}

ion-card {
  ion-card-header {
    ion-card-title {
      padding: var(--spaceSize-16);
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: var(--spaceSize-8);
      }
    }
  }
}

.c-weather-condition {
  padding: var(--spaceSize-16) var(--spaceSize-16) var(--spaceSize-32);
}
